*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    text-transform: capitalize;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}

.row{
    display: flex;
    flex-wrap: wrap;
}